footer{
    font-size: 14px;color: #666;
    .footer{width: 960px;border-top: 1px solid #666;margin-top: 20px;position: relative;left: 50%;margin-left: -480px;}
    .ftopWrap{
        display: flex;justify-content: space-between;
        .ftophelp{
            width: 400px;
            .ftopRow{
                display: flex;justify-content: space-around;font-size: 12px;
                li{font-weight: bold;margin:10px 0;}
                a{color: #666;font-weight: normal;&:hover{color:#8E0C3A;}}
            }
        }
        .ftopphone{
            width: 200px;font-weight: bold;padding: 15px;
            span{font-size: 20px;font-weight: normal;}
        }
        .ftopservice{
            width: 140px;font-weight: bold;padding-top: 20px;
            .ftopQQ,.ftopChat{width: 20px;height: 20px;display: inline-block;margin: 10px 5px 0;}
            .ftopQQ{background: url(../css/img/footico.gif) no-repeat;}
            .ftopChat{background: url(../css/img/footico.gif) no-repeat -20px 0;}
        }
        .ftopfollow{width: 220px;
            div{
                width: 100px;display: inline-block;text-align: center;
                p{font-size: 12px;font-weight: bold;margin-bottom: 5px;}
                img{width: 72px;}
            }
        }
    }
    .ftopWrap>li{
        float: left;border-right: 1px solid #ddd;margin-top: 30px;text-align: center;
        &:last-child{border-right:none;margin-right: 0;}
        .ftopRow>li{
            float:left;
        }
    }
    .fMid{
        font-size: 12px;line-height: 22px;width: 100%;background: #eee;height: 22px;margin: 25px 0;text-align: center;
        ul{margin-left: 80px;}
        ul>li{
            float: left;
            a{display: inline-block;height: 22px;padding: 0 20px;&:hover{background: #999;color: #fff;}}
        }
    }
    .fBot{height: 22px;text-align: center;font-size: 12px;    
        ul{display: flex;justify-content: space-around;margin-left: 100px;margin-bottom: 10px;}
        ul>li{
            float: left;
            a{display: inline-block;background: url(../css/img/foot_pic_s.jpg) no-repeat;height: 22px;}
            .fbot_l{background-position: 0 -110px;width: 22px;&:hover{background-position: 0 0;}}
            .fbot_ll{background-position:0 -155px;width: 100px;&:hover{background-position: 0 -45px;}}
            .fbot_m{background-position: 0 -133px;width: 66px;}
            .fbot_mm{background-position: -182px -180px;width: 73px;&:hover{background-position: -182px -71px;}}
            .fbot_r{background-position: -66px -110px;width: 73px;&:hover{background-position: -66px 0;}}
            .fbot_rr{background: #333;width: 100px;color: #fff;text-align: center;line-height: 22px;}
        }
        p{margin: 5px 0;a:hover{color: #8E0C3A;}}
        .fbb{
            height: 38px;;overflow: hidden;
            a:first-child{position: relative;top:-10px}
            a:last-child{position: relative;top:5px;}
        }
    }
}