@charset "UTF-8";
ul { list-style: none; padding: 0; margin: 0; }

a { color: #333; text-decoration: none; }

a:hover { color: #f00; }

body { color: #333; font-size: 16px; margin: 0; padding: 0; }

p { margin: 0px; }

h1, h2, h3, h4, h5, h6, dl, dt, dd { margin: 0; padding: 0; }

.clearfix::after { content: ""; display: block; clear: both; }

.left { float: left; }

.right { float: right; }

a, span, div, p, input, button { font-family: '微软雅黑'; }

em, i { font-style: normal; }

body { position: relative; }

/*input, textarea, keygen, select, button{text-rendering: auto;color: initial;letter-spacing: normal;word-spacing: normal;text-transform: none;text-indent: 0px;text-shadow: none;display: inline-block;text-align: start;margin: 0em 0em 0em 0em;font: 13.3333px Arial;}*/
header { width: 100%; height: 36px; background: #f4f4f4; line-height: 36px; color: #7a7a7a; font-size: 12px; }

header .center { width: 960px; height: 100%; position: relative; left: 50%; margin-left: -480px; }

header .center .headL { position: absolute; left: 0; }

header .center .headL .register { padding-right: 10px; display: inline-block; }

header .center .headL .login { padding: 0 15px; border-left: 1px solid #ccc; display: inline-block; height: 18px; line-height: 18px; }

header .center .headR { position: absolute; right: 10px; z-index: 3; padding-right: 5px; }

header .center .headR span { margin-left: 15px; }

header .center .headR .star { position: relative; height: 36px; display: inline-block; z-index: 4; }

header .center .headR .star:hover em { background-position: -20px -15px; }

header .center .headR .star > .stardown { position: absolute; background: #fff; border: 1px solid #ddd; width: 160px; height: 60px; right: 0; top: 34px; display: none; }

header .center .headR .star > .stardown span { width: 56px; display: inline-block; margin: 0; text-align: center; margin-left: 15px; }

header .center .headR .star > .stardown span img { margin-left: 15; margin-top: 10px; }

header .center .headR .star > .stardown span a { position: relative; top: -20px; }

header .center .headR .star > em { background: url(../css/img/headico01.png) 0px -15px no-repeat; display: inline-block; width: 18px; height: 13px; position: relative; top: 1px; }

header .center .headR .cart > em { background: url(../css/img/headico01.png) 0 -30px no-repeat; display: inline-block; width: 20px; height: 16px; position: relative; left: -5px; top: 3px; }

header .center .headR .cart { border-right: 1px solid #7a7a7a; padding-right: 3px; cursor: pointer; position: relative; z-index: 3; }

header .center .headR .cart > i { color: #8E0C3A; }

header .center .headR .tri { display: inline-block; border: 6px solid; border-color: #7a7a7a transparent transparent transparent; margin-left: 5px; position: relative; top: 3px; cursor: pointer; z-index: 3; }

header .center .headR .pulldown { width: 150px; height: 32px; background: #fff; border: 1px solid #ddd; position: absolute; top: 4px; right: -10px; box-sizing: border-box; z-index: 2; border-bottom: none; display: none; }

header .center .headR .pullcontent { width: 310px; height: 80px; background: #fff; border: 1px solid #ddd; position: absolute; right: -10px; top: 35px; z-index: 1; text-align: center; line-height: 80px; display: none; }

header .center .headR a { color: #7a7a7a; }

header .center .headR a:hover { color: #8E0C3A; }

#banner { width: 960px; height: 100px; position: relative; left: 50%; margin-left: -480px; }

#banner .banner { height: 100%; }

#banner .banner .bLeft { display: inline-block; width: 20%; height: 100%; }

#banner .banner .bLeft img:first-child { position: relative; top: 12.5px; }

#banner .banner .bLeft img:last-child { position: relative; top: -5px; left: 6px; }

#banner .banner .bCenter { display: inline-block; height: 100%; padding-left: 150px; }

#banner .banner .bRWrap { display: inline-block; position: absolute; right: 0px; top: 37px; }

#banner .banner .bRWrap .bRight { display: inline-block; width: 158px; height: 25px; border: 1px solid #ddd; overflow: hidden; position: relative; }

#banner .banner .bRWrap .bRight .keyword { width: 120px; height: 100%; border: none; padding: 0; position: relative; top: -5px; padding: 5px 10px; left: -5px; }

#banner .banner .bRWrap .bRight .searchBtn { background: url(../css/img/searchBtn.gif) 0 2px; width: 24px; border: none; position: absolute; right: 0; height: 100%; top: 0px; cursor: pointer; }

nav { font-size: 14px; margin-bottom: 10px; width: 960px; height: 35px; border-bottom: 1px solid #666; left: 50%; margin-left: -480px; position: relative; }

nav .nav > li { float: left; width: 96px; text-align: center; line-height: 35px; height: 35px; display: inline-block; position: relative; }

nav .nav > li i { background: url(../css/img/new.png) no-repeat; width: 27px; height: 12px; display: inline-block; position: absolute; right: 3px; top: 3px; }

nav .nav > li a { width: 100%; height: 100%; display: inline-block; }

nav .nav > li a:last-child img { height: 35px; width: 96px; }

nav .nav > li a.active { background: #8E0C3A; color: #fff; }

nav div { width: 100%; height: 300px; background: #fff; position: absolute; z-index: 6; top: 36px; border: 1px solid #8E0C3A; border-top: none; box-sizing: border-box; display: none; }

.top { width: 100%; height: 60px; border-bottom: 1px solid #ddd; position: absolute; z-index: 4; background: #fff; display: none; }

.top .topsearch { width: 960px; position: relative; left: 50%; margin-left: -480px; height: 100%; }

.top .topsearch .toplogo { display: inline-block; width: 200px; height: 42px; overflow: hidden; }

.top .topsearch .toplogo img { width: 200px; position: relative; top: 20px; }

.top .topsearch form { width: 590px; height: 28px; border: 2px solid #8E0C3A; display: inline-block; overflow: hidden; position: relative; top: 5px; left: 53px; }

.top .topsearch form .topkeyword { border: none; display: inline-block; font-size: 14px; padding: 10px 5px; position: relative; top: -6px; width: 560px; }

.top .topsearch form .topsearchBtn { border: none; background: url(../css/img/searchBtn2.gif) no-repeat; width: 28px; height: 28px; position: absolute; right: 0; cursor: pointer; }

.top .topsearch .fashionTip { font-size: 12px; color: #8E0C3A; position: absolute; right: 0; width: 95px; height: 45px; display: inline-block; bottom: 0; text-align: center; cursor: pointer; }

.top .topsearch .fashionTip img { position: relative; top: 10px; width: 16px; left: 7px; }

.top .topsearch .fashionTip span { position: relative; top: 7px; left: 13px; }

.top .topsearch .fashionTip .tipcontent { width: 960px; height: 180px; background: #fff; z-index: 5; top: 45px; border: 1px solid #ddd; border-top: none; position: absolute; display: none; }

.top .topsearch .fashionTip .tipcontent .tipRow > li { float: left; text-align: left; display: inline-block; padding: 20px 10px 0 25px; color: #8E0C3A; font-weight: bold; }

.top .topsearch .fashionTip .tipcontent .tipRow > li .tipCol { margin-top: 10px; }

.top .topsearch .fashionTip .tipcontent .tipRow > li .tipCol > li { font-weight: normal; margin-top: 5px; }

.top .topsearch .fashionTip .tipcontent .tipRow > li .tipCol > li a { color: #666; }

.top .topsearch .fashionTip .tipcontent .tipRow > li .tipCol > li a:hover { color: #8E0C3A; }

footer { font-size: 14px; color: #666; }

footer .footer { width: 960px; border-top: 1px solid #666; margin-top: 20px; position: relative; left: 50%; margin-left: -480px; }

footer .ftopWrap { display: flex; justify-content: space-between; }

footer .ftopWrap .ftophelp { width: 400px; }

footer .ftopWrap .ftophelp .ftopRow { display: flex; justify-content: space-around; font-size: 12px; }

footer .ftopWrap .ftophelp .ftopRow li { font-weight: bold; margin: 10px 0; }

footer .ftopWrap .ftophelp .ftopRow a { color: #666; font-weight: normal; }

footer .ftopWrap .ftophelp .ftopRow a:hover { color: #8E0C3A; }

footer .ftopWrap .ftopphone { width: 200px; font-weight: bold; padding: 15px; }

footer .ftopWrap .ftopphone span { font-size: 20px; font-weight: normal; }

footer .ftopWrap .ftopservice { width: 140px; font-weight: bold; padding-top: 20px; }

footer .ftopWrap .ftopservice .ftopQQ, footer .ftopWrap .ftopservice .ftopChat { width: 20px; height: 20px; display: inline-block; margin: 10px 5px 0; }

footer .ftopWrap .ftopservice .ftopQQ { background: url(../css/img/footico.gif) no-repeat; }

footer .ftopWrap .ftopservice .ftopChat { background: url(../css/img/footico.gif) no-repeat -20px 0; }

footer .ftopWrap .ftopfollow { width: 220px; }

footer .ftopWrap .ftopfollow div { width: 100px; display: inline-block; text-align: center; }

footer .ftopWrap .ftopfollow div p { font-size: 12px; font-weight: bold; margin-bottom: 5px; }

footer .ftopWrap .ftopfollow div img { width: 72px; }

footer .ftopWrap > li { float: left; border-right: 1px solid #ddd; margin-top: 30px; text-align: center; }

footer .ftopWrap > li:last-child { border-right: none; margin-right: 0; }

footer .ftopWrap > li .ftopRow > li { float: left; }

footer .fMid { font-size: 12px; line-height: 22px; width: 100%; background: #eee; height: 22px; margin: 25px 0; text-align: center; }

footer .fMid ul { margin-left: 80px; }

footer .fMid ul > li { float: left; }

footer .fMid ul > li a { display: inline-block; height: 22px; padding: 0 20px; }

footer .fMid ul > li a:hover { background: #999; color: #fff; }

footer .fBot { height: 22px; text-align: center; font-size: 12px; }

footer .fBot ul { display: flex; justify-content: space-around; margin-left: 100px; margin-bottom: 10px; }

footer .fBot ul > li { float: left; }

footer .fBot ul > li a { display: inline-block; background: url(../css/img/foot_pic_s.jpg) no-repeat; height: 22px; }

footer .fBot ul > li .fbot_l { background-position: 0 -110px; width: 22px; }

footer .fBot ul > li .fbot_l:hover { background-position: 0 0; }

footer .fBot ul > li .fbot_ll { background-position: 0 -155px; width: 100px; }

footer .fBot ul > li .fbot_ll:hover { background-position: 0 -45px; }

footer .fBot ul > li .fbot_m { background-position: 0 -133px; width: 66px; }

footer .fBot ul > li .fbot_mm { background-position: -182px -180px; width: 73px; }

footer .fBot ul > li .fbot_mm:hover { background-position: -182px -71px; }

footer .fBot ul > li .fbot_r { background-position: -66px -110px; width: 73px; }

footer .fBot ul > li .fbot_r:hover { background-position: -66px 0; }

footer .fBot ul > li .fbot_rr { background: #333; width: 100px; color: #fff; text-align: center; line-height: 22px; }

footer .fBot p { margin: 5px 0; }

footer .fBot p a:hover { color: #8E0C3A; }

footer .fBot .fbb { height: 38px; overflow: hidden; }

footer .fBot .fbb a:first-child { position: relative; top: -10px; }

footer .fBot .fbb a:last-child { position: relative; top: 5px; }

.sidebar { width: 52px; position: fixed; right: 0; height: 100%; z-index: 999; }

.sidebar .sidelist { position: absolute; top: 50%; margin-top: -69px; width: 100%; }

.sidebar .sidelist > li > a { width: 100%; display: block; height: 46px; background: url(../css/img/consult.jpg) no-repeat; }

.sidebar .sideservice { background-position: 0 0; }

.sidebar .sideservice:hover { background-position: -52px 0; }

.sidebar .sidelist > li > .sideQQ { background-position: 0 -46px; }

.sidebar .sidelist > li > .sideQQ:hover { background-position: -52px -46px; }

.sidebar .sidelist > li > .totop { background-position: 0 -92px; }

.sidebar .sidelist > li > .totop:hover { background-position: -52px -92px; }

.carousel { left: 50%; margin-left: -480px; position: relative; z-index: 0; }

.contentWrap { width: 960px; position: relative; left: 50%; margin-left: -480px; }

.contentWrap .content { width: 100%; }

.contentWrap .content .conTitle { width: 100%; height: 55px; margin-top: 15px; }

.contentWrap .content .conTitle .conTitLine { border-bottom: 1px solid #666; height: 27px; position: absolute; width: 100%; z-index: -1; }

.contentWrap .content .conTitle span { text-align: center; background: #fff; display: inline-block; position: absolute; left: 50%; width: 400px; margin-left: -200px; }

.contentWrap .content .container > div { float: left; width: 316px; }

.contentWrap .content .container .conMid { margin: 0 6px; }

.contentWrap .content .fashionsuggest { display: flex; justify-content: space-between; position: relative; }

.contentWrap .content .fashionsuggest > a { width: 316px; display: inline-block; height: 247px; }

.contentWrap .content .fashionsuggest > a > img { width: 316px; }

.contentWrap .content .fashionsuggest > a > span { width: 306px; display: block; position: absolute; background: rgba(255, 255, 255, 0.8); height: 36px; bottom: 20px; line-height: 36px; padding-left: 15px; font-size: 18px; color: #000; }

.contentWrap .content .feelmore { display: flex; justify-content: space-between; }

.contentWrap .content .feelmore .fmEmail > .fmtake { width: 100%; position: relative; padding-left: 40px; }

.contentWrap .content .feelmore .fmEmail > .fmtake .fminput { border: 1px solid #666; height: 27px; width: 170px; position: relative; overflow: hidden; display: inline-block; box-sizing: border-box; }

.contentWrap .content .feelmore .fmEmail > .fmtake .fminput i { display: inline-block; width: 40px; height: 25px; background: #fff url(../css/img/footico.gif) no-repeat -40px -31px; }

.contentWrap .content .feelmore .fmEmail > .fmtake .fminput input { position: absolute; top: -2px; left: 40px; width: 140px; height: 27px; outline: none; border: none; font-size: 12px; }

.contentWrap .content .feelmore .fmEmail > .fmtake .fmtackBtn { border: none; background: #222222; color: #fff; width: 70px; height: 27px; position: absolute; top: 0; margin-left: 5px; }

.contentWrap .content .bsCarousel { width: 100%; position: relative; overflow: hidden; }

.contentWrap .content .bsCarousel .bsPrev, .contentWrap .content .bsCarousel .bsNext { width: 17px; height: 260px; position: absolute; }

.contentWrap .content .bsCarousel .bsPrev { left: 0; top: 0; }

.contentWrap .content .bsCarousel .bsPrev i { background: url(../css/img/pic_arrow_l.png) no-repeat -3px 4px; width: 17px; height: 26px; display: block; position: absolute; top: 50%; margin-top: -13px; }

.contentWrap .content .bsCarousel .bsNext { right: 0; top: 0; }

.contentWrap .content .bsCarousel .bsNext i { background: url(../css/img/pic_arrow_r.png) no-repeat; width: 17px; height: 26px; display: block; position: absolute; top: 50%; margin-top: -13px; }

.contentWrap .content .bsCarousel .bscContent { height: 260px; }

.contentWrap .content .bsCarousel .bscContent li { float: left; width: 190px; height: 260px; text-align: center; }
